# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
ENV/
.venv/

# Distribución / packaging
build/
dist/
*.egg-info/
.eggs/

# Archivos de instaladores
pip-wheel-metadata/

# Logs
*.log

# Configuración IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de testing / coverage
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Variables de entorno
.env
.env.*
